.wrapper{
margin-top: 140px;

}
.navigation{
    display: flex;
    gap: 18px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading >h2{

font-size: 54px;
font-weight: 600;
width: 374px;
margin-bottom: 104px;

}