.LandingPagewrapper{
padding-left: 200px;
padding-right: 200px;
padding-top: 50px;
background-color: black;

}
.bodyWrapper{
  padding-left: 200px;
padding-right: 200px;
padding-top: 50px;
display: flex;
flex-direction: column;
gap: 170px;
}